<div class="col-xs-12 col-sm-4">

<h1>New Statement</h1>

<%= render 'form' %>
<%= link_to 'Back', projections_path %>

</div>
<div class="hidden-xs col-sm-8" id="statementslist" style="position:fixed;overflow-y:scroll;overflow-x: hidden; top: 70px; bottom: 0;right: 0;">
  <%= render :partial => 'statementstable', :locals => { :statements => @statements } %>
</div>

<script>
  $("#statement_member_id").change(function() {
    $.ajax({
      type: "GET",
      url: "<%= new_statement_path %>" + "?member_id=" + document.getElementById("statement_member_id").value,
      dataType: "script"
    });
	});
</script>
