// Place all the styles related to the projections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}

div#buttondiv {
  top: 10px;
  position: relative;
  float: right;
}

#details {
  background-color: #E6EBFA;
  border-color: #B2B2B2;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  display: none;
}

#fed_chart .c3-line-Projected-Rate, #fed_chart .c3-circles-Actual-Rate {
  display: none;
}
