<h1>FOMC Projections</h1>
<script>
nv.addGraph(function() {
  var chart = nv.models.scatterChart()
                .showDistX(true)
                .showDistY(true)
                .color(d3.scale.category10().range())
                .forceY([5])
                .forceX([0]);

  chart.xAxis.tickFormat(d3.format('.0f')).axisLabel('Days from Date of Projection to Expiration');
  chart.yAxis.tickFormat(function(d){return d + '%'}).axisLabel('Projected vs. Actual Interest Rate Differential');


  d3.select('#chart svg')
    .datum([{key: 'Projected vs. Actual Interest Rate Differential', values: <%= raw @chart_data.to_json %>}])
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;

});

</script>

<div id="chart">
  <svg></svg>
</div>

<%= form_tag({controller: 'projections', action: 'index'}, method: 'get', id: 'trim_form') do %>
  <%= label_tag(:trim, "How many outliers to exclude from each projection date/expiration date combination?") %>
  <%= select_tag(:trim, options_for_select([0,1,2,3,4,5,6,7], params.has_key?(:trim) ? params[:trim].to_i : 0)) %>
<% end %>

<script>
  document.getElementById('trim').addEventListener('change', function() {
    document.getElementById('trim_form').submit();
  }, false)
</script>
