<div class="col-xs-12">

<h1>Projection</h1>

<p>
  <strong>Present Date:</strong> <%= @projection.present_date %>
</p>

<p>
  <strong>Projection Rate:</strong> <%= @projection.projected_rate.to_s %>
</p>

<p>
  <strong>Fulfillment Date:</strong> <%= @projection.fulfillment_date %>
</p>

</div>
