<div class="col-xs-12">

<h1>Members</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Member Type</th>
      <th>Date of Birth</th>
      <th>Biography</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member_path(member) %></td>
      <td><%= member.member_type %></td>
      <td><%= member.dob %></td>
      <td><%= member.bio %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
