<div class="col-xs-12">

<h1>Members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Member Type</th>
    <th>Date of Birth</th>
    <th>Biography</th>
  </tr>
  <% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.member_type %></td>
    <td><%= member.dob %></td>
    <td><%= member.bio %></td>
  </tr>
  <% end %>
</table>

</div>
