<div class="col-xs-12">

<h1>Member</h1>

<p>
  <strong>Name:</strong> <%= @member.name %>
</p>

<p>
  <strong>Member Type:</strong> <%= @member.member_type %>
</p>

<p>
  <strong>Date of Birth:</strong> <%= @member.dob %>
</p>

<p>
  <strong>Biography:</strong> <%= @member.bio %>
</p>

</div>
